{% extends 'base.html.twig' %}

{% block title %}Envoi du mail de réinitialisation du mot de passe{% endblock %}

{% block body %}

<h1 class="m-auto my-5 d-flex align-items-center justify-content-center text-center">Email envoyé</h1>

<div class="my-5 col-12 col-lg-8 m-auto">
    <div class="pt-5 px-5 justify-content-around bg-light-form shadow pb-3">
        <p>
            S'il existe un compte correspondant à ton adresse e-mail, un e-mail vient d'être envoyé contenant un lien que tu peux utiliser pour réinitialiser ton mot de passe.
            {# Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}. #}
        </p>
        <p>Si tu ne reçoies pas d'e-mail, vérifies ton dossier spam ou <a href="{{ path('app_forgot_password_request') }}">Essaies de nouveau</a>.</p>

    </div>
</div>

{% endblock %}
