/******************************/
/* Variable */

:root{
    --brown: #633737;
    --red-dark: #B04C46;
    --red-light: #C7524B;
    --darkcolor: #D9C7A6;
    --mid-color: #D9D9D9;
    --lightcolor: #f7f9fc;
    --light: whitesmoke;
    --background: snow;
}

/******************************/
/* Importing fonts */

/*Police navbar*/
@font-face {
    font-family: RetroJump;
    src: url('../fonts/RetroJump.ttf');
}

/*Font h1 & button */
@font-face {
    font-family: Retroking;
    src: url('../fonts/Retroking.ttf');
}

/*Font h2, h3 */
@font-face {
    font-family: RetroBoldy;
    src: url('../fonts/RetroBoldy-Regular.ttf');
}

/******************************/
/* General */

h1 {
    font-family: 'Retroking','Roboto','Arial','Helvetica','sans-serif' ;
}

h2,h3 {
    font-family: 'RetroBoldy','Roboto','Arial','Helvetica','sans-serif' ;
    text-transform: capitalize;  
}

#title-h2-trick {
    margin-top: 200px;
}

body, html {
    background-color: var(--background);
    height: 100%;
}

.span-text {
    font-family:'Roboto','Arial','Helvetica','sans-serif' !important;
}

#bg-head {  
    background-image: url('../images/background/snowboard2.png') !important;
    /* Full height */
    height: 100% !important; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg-trick1, #bg-trick2 {  
    /* Full height */
    height: 100% !important; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-light-form {
    background-color: var(--lightcolor) !important;
}

#pencil-icon {
    color: #D9C7A6; 
}

#trash-icon {
    color: #B04C46;
}

/******************************/
/* Navigation*/

#main-nav-bar>div>ul>li>a {
    font-family: 'RetroJump','Roboto','Arial','Helvetica','sans-serif' !important;
    color: var(--mid-color) !important;
    font-size: 70px;
    padding-right: 40px !important;
}

#main-nav-bar>div>ul>li>a:hover {
    color: var(--darkcolor) !important;
}

#footer-desk>div>span {
    color: var(--mid-color)!important;
}

#main-logo {
    height: 3rem;
}

#house-icon, #bookmark-icon, #bracket-icon, #spinner-icon, #logout-icon {
    color: var(--darkcolor);
    font-size: 30px;
}


/******************************/
/* HomePage*/

#load-button {
    border: solid var(--darkcolor) !important;

}

#load-text, #spinner-icon {
    color: var(--darkcolor);
    background-color: var(--light) !important;
}

#first-arrow-icon {
    height: 100px;
    width: 100px;
}

#second-arrow-icon {
    height: 100px;
    width: 100px;
}

/******************************/
/* Trick*/

.bg-edit-button {
    background-color: var(--lightcolor) !important;
}

#edit-button {
    background-color: var(--darkcolor) !important;
}

.button-deco {
    border: solid var(--darkcolor) !important;
    font-weight: bold;
    font-family: 'Retroking','Roboto','Arial','Helvetica','sans-serif' ;
}

.comment-deco {
    border: solid var(--darkcolor) !important;
    font-weight: bold !important;
    font-family: 'Roboto','Arial','Helvetica','sans-serif' !important ;
}

#avatar-user {
    height: 100px;
}

#youtube-logo {
    height: 25px;
    width: auto;
}

#content-trick {
    text-justify: inter-word !important;
}

/******************************/
/* Register */

a:hover {
    color: var(--darkcolor) !important;
}

/******************************/
/* TrickEdit */

.image-mini {
    height: 100px;
    width: auto;
}


/******************************/
/*Mobile*/
@media screen and (max-width: 576px) { 

    /******************************/
    /* General */
    h1 {
        font-size: 3rem !important;
    }

    h2 {
        font-size: 2rem !important;
    }

    h3 {
        font-size: 1.5rem !important;
    }

    #title-site {
        margin-top: 350px !important;
        font-size: 2rem !important;
    }

    #pencil-icon, #trash-icon {
        font-size: 20px;
        padding: 0.5rem;
    }

    .form {
        padding: 1rem;
        margin-bottom: 150px;
    }

    #space {
        height: 50px;
    }

    /******************************/
    /* Homepage */
    #first-arrow-icon {
        margin-bottom: 100px;
    }
 }

/******************************/
/*Autre que téléphone */
@media screen and (min-width: 577px) and (max-width: 993px) {

    /******************************/
    /* General */
    h1 {
        font-size: 3rem !important;
    }

    #title-site {
        margin-top: 450px !important;
        font-size: 3rem !important;
        margin-bottom: 100px !important;
    }

    #pencil-icon, #trash-icon {
        font-size: 40px !important;
        padding: 0.5rem !important;
    }

    .form {
        padding: 1rem;
        margin-bottom: 150px;
    }

    #space {
        height: 50px;
    }
}

/******************************/
/*Tablette */
@media screen and (min-width: 577px) and (max-width: 768px) {

    /******************************/
    /* General */
    h1 {
        font-size: 3rem !important;
    }

    .form {
        padding: 1rem;
        margin-bottom: 150px;
    }

    #space {
        height: 50px;
    }
}

/******************************/
/*Pc Portable */
@media screen and (min-width: 769px) and (max-width: 992px) {

    /******************************/
    /* General */
    h1 {
        font-size: 3rem !important;
    }

    .form {
        padding: 1rem;
        margin-bottom: 150px;
    }

    #space {
        height: 50px;
    }
}

/******************************/
/* Tablette */
@media screen and (min-width: 993px) and (max-width: 1250px) {

    /******************************/
    /* General*/
    #title-site {
        margin-top: 500px !important;
        font-size: 3rem !important;
        margin-bottom: 150px !important;
    }
    h1 {
        font-size: 3rem !important;
    }

    #pencil-icon, #trash-icon {
        font-size: 25px !important;
        padding: 0.5rem !important;
    }

    .form {
        padding: 3rem;
        margin-bottom: 150px;
    }

    #space {
        height: 100px;
    }
}

/******************************/
/* Desk */
@media screen and (min-width: 1250px) {
    
    /******************************/
    /* General*/
    #title-site {
        margin-top: 550px !important;
        font-size: 3rem !important;
        margin-bottom: 100px !important;
    }
    h1 {
        font-size: 3rem !important;
    }

    #pencil-icon, #trash-icon {
        font-size: 20px !important;
        padding: 0.5rem !important;
    }

    .form {
        padding: 3rem;
        margin-bottom: 200px;
    }

    #space {
        height: 150px;
    }

    /******************************/
    /* Homepage */
    #first-arrow-icon {
        margin-bottom: 200px;
    }

    /******************************/
    /* Ipad Air */
    @media screen and (min-width: 1250px) and (max-height:950px) {

        /******************************/
        /* General*/
        #title-site {
            margin-top: 500px !important;
            font-size: 3rem !important;
            margin-bottom: 50px !important;
        }
        h1 {
            font-size: 3rem !important;
        }

        #pencil-icon, #trash-icon {
            font-size: 25px !important;
            padding: 0.5rem !important;
        }

        #space {
            height: 100px;
        }

        /******************************/
        /* Homepage */
        #first-arrow-icon {
            margin-bottom: 300px;
        }
    }
}

