<h1>Salut {{ user.username }}!</h1>

<p>Pour réinitialiser ton mot de passe, merci de cliquer sur le lien suivant !</p>

<a href="{{ url }}">Lien de réinitialisation du mot de passe</a>

{# <p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p> #}

<p>Bienvenue !</p>
