<div class="row my-5 pb-5 pb-lg-0 pt-0 pt-lg-5 d-lg-none">
    <div class="d-flex align-items-end justify-content-center text-center">
        <button id="toggleButton" class="d-flex flex-colomn shadow text-decoration-none fs-5 m-0 p-2">
            Afficher les médias
        </button>
    </div>
</div>
