{% extends 'base.html.twig' %}

{% block title %}Erreur 404 : Page non trouvée{% endblock %}

{% block body %}

    <h2 class="mt-5 mb-3 d-flex align-items-center justify-content-center text-center">Page non trouvée</h2>

    <div class="my-3 col-12 col-lg-8 m-auto">
        <div class="d-flex">
            <img src="{{ asset('images/errors/404.jpg' ) }}" alt="page erreur 404" class="img-fluid m-auto">
        </div>
        <div class="form justify-content-around bg-light-form shadow m-2">
            <p>Cette page n'existe pas !</p>
            <a href="{{ path('app_home') }}" class="text-decoration-none fw-medium fst-italic text-black d-flex justify-content-end">Retourner sur la page d'acceuil !</a>
        </div>
    </div>

{% endblock %}
